#change-info__pricing-table {
  max-width: 98%;
  margin: 30px auto;
  padding: 0 20px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: auto;
  /*Define our columns */
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

#change-info__pricing-table .price-table-item {
  max-width: 330px;
  height: 350px;
  border-radius: 8px;
  border: 1px solid #d0c6e4;
  margin-bottom: 16px;
  position: relative;
  padding: 8px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#change-info__pricing-table .price-table-item:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

#change-info__pricing-table .price-table-item::after {
  position: absolute;
  content: '';
  display: inline-block;
  height: 400px;
  width: 400px;
  top: -270px;
  z-index: -1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: -webkit-gradient(linear, left top, right top, from(#fc00ff), to(#00dbde));
  background: linear-gradient(to right, #fc00ff, #00dbde);
  border-radius: 999px;
}

#change-info__pricing-table .price-table-item__title {
  text-align: center;
  height: 40px;
  margin-top: 16px;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
}

#change-info__pricing-table .price-table-item__price {
  height: 40px;
  text-align: center;
  margin-top: 12px;
  text-transform: uppercase;
  font-size: 28px;
  color: #fff;
}

#change-info__pricing-table .price-table-item__details {
  margin-top: 40px;
  list-style: none;
}

#change-info__pricing-table .price-table-item__details li {
  color: #0e0674;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  margin-top: 16px;
  font-weight: bold;
}

#change-info__pricing-table .price-table-item__button {
  position: absolute;
  bottom: 16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 46px;
  width: 60%;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#642b73), to(#c6426e));
  background: linear-gradient(to right, #642b73, #c6426e);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#change-info__pricing-table .price-table-item__button:focus {
  outline: none;
}

#change-info__pricing-table .price-table-item__button:hover {
  -webkit-box-shadow: rgba(214, 3, 3, 0.3) 0px 0px 0px 3px;
          box-shadow: rgba(214, 3, 3, 0.3) 0px 0px 0px 3px;
  background-position: to left;
}

@media screen and (max-width: 990px) {
  .pricing-table__item {
    margin: 0 0 20px;
  }
}

@media screen and (max-width: 768px) {
  #change-info__pricing-table {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  #change-info__pricing-table {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#change-info__pricing-table .price-table-item:nth-child(n+5) ul li {
  margin-top: 60px;
}

#change-info__pricing-table .price-table-item:nth-child(4) ul li {
  margin-top: 28px;
}

#change-info__pricing-table .price-table-item:nth-child(1) ul li {
  margin-top: 60px;
}
/*# sourceMappingURL=index.css.map */