.notes-icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  display: block;
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
  width: 26px;
  height: 28px;
  border: 2px solid #2D4CC9;
  border-radius: 3px;
}

.notes-icon::after, .notes-icon::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  height: 2px;
  background: #2D4CC9;
  left: 2px;
}

.notes-icon::before {
  -webkit-box-shadow: 0 4px 0 #2D4CC9, 0 8px 0 #2D4CC9;
          box-shadow: 0 4px 0 #2D4CC9, 0 8px 0 #2D4CC9;
  width: 16px;
  top: 4px;
}

.notes-icon::after {
  width: 12px;
  top: 16px;
}

.note-box {
  padding: 4px 4px 16px 54px;
  border-radius: 4px;
  position: relative;
  width: 100%;
}

.note-box::after {
  content: '';
  display: inline-block;
  position: absolute;
  height: 8px;
  width: 50%;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 4px;
}

.note-box ul {
  list-style-position: inside;
}

.note-box ul li:not(:nth-child(1)) {
  margin-top: 10px;
}

.note-box ul li:nth-child(1) {
  margin-top: 4px;
}

.note-box__title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.note-box span {
  position: relative;
}

.note-box__info {
  border: 1px solid #2D4CC9;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(45, 76, 201, 0.03)), to(rgba(45, 76, 201, 0.15)));
  background-image: linear-gradient(to right, rgba(45, 76, 201, 0.03), rgba(45, 76, 201, 0.15));
}

.note-box__info::after {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(45, 76, 201, 0.1)), to(rgba(45, 76, 201, 0.9)));
  background-image: linear-gradient(to right, rgba(45, 76, 201, 0.1), rgba(45, 76, 201, 0.9));
}

.note-box__info::before {
  content: '';
  display: inline-block;
  position: absolute;
  height: 36px;
  top: 36px;
  left: -16px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  background: #fff;
  border-radius: 99px;
  width: 32px;
  background-repeat: no-repeat;
  background-image: url("./info.png");
}

.note-box__info .note-box__title {
  color: #2D4CC9;
}

.note-box__idea {
  border: 1px solid #FA7D08;
  background: -webkit-gradient(linear, left top, right top, from(rgba(250, 125, 8, 0.03)), to(rgba(250, 125, 8, 0.15)));
  background: linear-gradient(to right, rgba(250, 125, 8, 0.03), rgba(250, 125, 8, 0.15));
}

.note-box__idea::before {
  content: '';
  display: inline-block;
  position: absolute;
  height: 36px;
  top: 36px;
  left: -16px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  background: #fff;
  border-radius: 99px;
  width: 32px;
  background-repeat: no-repeat;
  background-image: url("./idea.png");
}

.note-box__idea::after {
  background: -webkit-gradient(linear, left top, right top, from(rgba(250, 125, 8, 0.03)), to(#fa7d08));
  background: linear-gradient(to right, rgba(250, 125, 8, 0.03), #fa7d08);
}

.note-box__idea .note-box__title {
  color: #FA7D08;
}

.note-box__danger {
  border: 1px solid #AA1E2C;
  background: -webkit-gradient(linear, left top, right top, from(rgba(170, 30, 44, 0.03)), to(rgba(170, 30, 44, 0.15)));
  background: linear-gradient(to right, rgba(170, 30, 44, 0.03), rgba(170, 30, 44, 0.15));
}

.note-box__danger::after {
  background: -webkit-gradient(linear, left top, right top, from(rgba(170, 30, 44, 0.03)), to(#aa1e2c));
  background: linear-gradient(to right, rgba(170, 30, 44, 0.03), #aa1e2c);
}

.note-box__danger::before {
  content: '';
  display: inline-block;
  position: absolute;
  height: 36px;
  top: 36px;
  left: -16px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  background: #fff;
  background-repeat: no-repeat;
  border-radius: 99px;
  width: 32px;
  background-image: url("./wrong.png");
}

.note-box__danger .note-box__title {
  color: #AA1E2C;
}

.fixed-icon {
  top: 12px;
  left: -40px;
}
/*# sourceMappingURL=index.css.map */